{% extends "base.html" %}

{% block content %}
<form>
    <input type="file" id="file" name="file" autocomplete="off" required >
    <button type="submit">Upload</button>
</form>
<script type="text/javascript">
    //var socket = io.connect('http://127.0.0.1:5000');
    var socket = io.connect();

    $("form").on("submit", function(event) {
        event.preventDefault();
        var formData = new FormData()
        formData.append("file", $("#file")[0].files[0])

        $.ajax({
            type: "POST",
            enctype: "multipart/form-data",
            url: "/upload",
            data: formData,
            contentType: false,
            processData: false,
            success: function(result) {
                console.log(result);
                //location.href = document.location + "/" + result
                uploadAndTranscribe(result);
            },
            error: function(msg) {
                console.log(msg);
            }
        });
    });

    function uploadAndTranscribe(filename) {
        socket.emit("upload and transcribe", filename);
    }

    socket.on("upload and transcription complete", function(transcript_uri) {
        location.href = document.location + "/" + transcript_uri;
    })
</script>


{% endblock content %}
